﻿@model MusicLibraryApp.Models.MusicLibrary

@{
    ViewBag.Title = "Add Music Library";
}

<h2>Add New Music Library</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="span12">
        <fieldset>
            <legend>Add Music Library</legend>
            <div class="control-group">
                <label class="control-label">Title: </label>
                <input name="title_input" id="title_input" type="text" data-bind="value: Title" placeholder="Title" class="input-medium" />
            </div>

            <div class="control-group">
                <label class="control-label">Artist: </label>
                <input name="artist_input" id="artist_input" type="text" data-bind="value: Artist" placeholder="Artist" class="input-medium" />
            </div>

            <div class="control-group">
                <label class="control-label">Release Date: </label>
                <input name="release_date_input" id="release_date_input" type="text" data-bind="value: ReleaseDate" placeholder="Release Date" class="input-medium" />
            </div>

            <div class="control-group">
                <label class="control-label">Genre: </label>
                <input name="genre_input" id="genre_input" type="text" data-bind="value: Genre" placeholder="Genre" class="input-medium" />
            </div>

            <div class="control-group">
                <label class="control-label">Album Size: </label>
                <input name="album_size_input" id="album_size_input" type="text" data-bind="value: AlbumSize" placeholder="AlbumSize" class="input-medium" />
            </div>

            <div class="control-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="control-group">
                        <input class="btn btn-primary" type="button" value="Save" data-bind="click: btnCreateLibrary" />
                        <a class="btn btn-primary" href="@Url.Action("Cancel")">Cancel</a>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ViewModel/CreateVM.js")
}
