﻿@model IEnumerable<MusicLibraryApp.Models.MusicLibrary>

@{
    ViewBag.Title = "Music Library App";
}

<h2>Music Library List</h2>

<a class="btn btn-primary btn-large" href="@Url.Action("Create")">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumSize)
            </th>
        </tr>
    </thead>

    <tbody data-bind="foreach: MusicLibraries">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: Artist"></td>
            <td data-bind="text: ReleaseDate"></td>
            <td data-bind="text: Genre"></td>
            <td data-bind="text: AlbumSize"></td>
            <td>
                <a href="#" data-bind="Edit, click: $parent.editLibrary">Edit</a> |
                <a href="#" data-bind="Details, click: $parent.detailsLibrary">Details</a> |
                <a href="#" data-bind="Delete, click: $parent.deleteLibrary">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/IndexVM.js")
}
